extends ./layout

block styles
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")

block body
  h1.text-center File uploader
  #images
    input#images-input(type='hidden')
    input#images-preview(type='hidden')
  button#save-data(type='button') SAVE

block scripts
  script(src="/js/fileupload.js")
  script.
    new FileUploader({
      type: "images",
      element: "images",
      url: "/file/upload",
      acceptedFiles: ["gif", "jpg", "png"],
      data: "images-input",
      images: {
        dataPreview: 'images-preview'
      }
    });
