extends ./layout

block styles
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")

block body
  h1.text-center File uploader
  #images
    input#images-input(type='hidden')
    input#images-preview(type='hidden')
  #image
    input#image-input(type='hidden')
  #files
    input#files-input(type='hidden')
  #file
    input#file-input(type='hidden')

block scripts
  script(src="/js/fileupload.js")
  script.
    new FileUploader({
      type: "images",
      element: "images",
      url: "/file/upload",
      acceptedFiles: ["gif", "jpg", "png"],
      data: "images-input",
      small: 150,
      large: 900,
      images: {
        dataPreview: 'images-preview'//,
        //w: 4, h: 3
      }
    });
  script.
    new FileUploader({
      type: "image",
      element: "image",
      url: "/file/upload",
      acceptedFiles: ["gif", "jpg", "png"],
      data: "image-input"
    });
  script.
    new FileUploader({
      type: "files",
      element: "files",
      url: "/file/upload",
      acceptedFiles: ["pdf", "png", "zip"],
      data: "files-input"
    });
  script.
    new FileUploader({
      type: "file",
      element: "file",
      url: "/file/upload",
      acceptedFiles: ["pdf", "png", "zip"],
      data: "file-input"
    });
